<!doctype html>
<html lang="en">


<!-- Mirrored from themesdesign.in/morvin/layouts/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Aug 2021 10:51:22 GMT -->
<head>

    
    <meta charset="utf-8" />
    <title>{% block title %}Inscription{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
  
    

    <!-- Bootstrap Css -->
    <link href="assetsAdmin/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="assetsAdmin/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="assetsAdmin/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />


</head>


<body class="authentication-bg ">
<style>
.btn:hover{
 
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom right,#18DB32,#0360FF ) 1;
  
  font-size: 15px; 
  font-weight: 500;
}
.btn{
    background:linear-gradient(to bottom right,#18DB32,#0360FF );
  color:  #fff;
   border-radius: 9px;
   margin-top:10px;
 
}
.authentication-bg{
    background:linear-gradient(to bottom right,#18DB32,#0360FF );
   
}
.card{
    border-radius: 20px;
     width: 800px;
      margin-left:150px;
}  
#btnToggle {
  margin-top: 15em;
}

.toggle {
  background: none;
  border: none;
  color: #337ab7;
  /*display: none;*/
  /*font-size: .9em;*/
  font-weight: 500;
  /*padding: .5em;*/
  position: absolute;
  right: 26.1em;
  top: 1.70em;
  
}
.toggle:focus { outline:0 !important; }      

</style>
 <div class="home-center">
        <div class="home-desc-center">

            <div class="container">

                <div class="home-btn"><a href="/" class="text-white router-link-active"><i
                            class="fas fa-home h2" style="font-size:23px;"></i></a></div>


                <div class="row ">
                    <div class="col-md-8 ">
                        <div class="card">
                            <div class="card-body">
                                <div class="px-2 py-3">


                                    <div class="text-center">
                                        <a href="index.html">
                                            <img src="assets/images/logo1.png" height="55" alt="logo">
                                        </a>

                                       
                                    </div>
                                    <div class="text-center">
                                       
                                    <h5 class="text-primary mb-2 mt-4" style="font-size:18px;">Formulaire d'inscription</h5>
                                        <p class="text-muted" style="font-size:14.5px;">C’est rapide et facile.</p>
                                    </div>

                                    
                                     <br/> 



    
                             {{ form_start(form)}}
                                 <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        {{ form_widget(form.username, {'attr':
                                         {'placeholder': 'Nom Complet ...'}})}}
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                       {{ form_widget(form.email, {'attr':
                                         {'placeholder': 'Adresse e-mail ...'}})}}
                                    </div>
                                 </div>

                                 <div class="row">
                                     <div class="col-lg-6 mb-3">
                                        {{ form_widget(form.password,{'id':'txtPassword'})}}
   
                                     </div>
       
                                     <div class="col-lg-6 mb-3">
                                       {{ form_widget(form.tel, {'attr':
                                          {'placeholder': 'Numéro de téléphone ...'}})}}
                                    </div>
                                 </div>
                                <button type="button" id="btnToggle" class="toggle"><i id="eyeIcon" style="font-size:13px;" class="fa fa-eye"></i></button>
                                 <div class="row">
                                     <div class="col-lg-6 mb-3">
                                        {{ form_widget(form.adresse, {'attr':
                                           {'placeholder': 'Adresse ...'}})}}
                                    </div>
  
                                    <div class="col-lg-6 mb-3">
                                         <select id="select_box" class="form-control select">  
                                            <option disabled selected>Choisir type utilisateur </option>
                                            <option value="ministére">Ministére </option>
                                            <option value="investisseur">Investisseur </option>
                                         </select>
                                     </div>
                                 </div>
 
                                 <div class="row hide" id="investisseur">
                                    <div class="col-lg-6 mb-3">
                                         <select id="country" class='form-control select'><option value="">Choisir le pays</option></select>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <input type="text" class="form-control"  name="compagnie"
                                                placeholder="Nom de compagnie ...">
                                    </div>
 
                                 </div>

                                 <div class="row">
                                    <div class="col-lg-12 mb-3">
                                         <select id="ministére" class="hide form-control select">  
                                             <option disabled selected>Choisir type utilisateur </option>
                                             <option value="ministére">Ministére </option>
                                             <option value="investisseur">Investisseur </option>
                                         </select>
                                    </div>
                               </div>

                             {{ form_widget(form)}}
    
                            <button class="btn btn-primary " style="margin-left:310px; padding-left:30px;padding-right:30px;font-size:16px;"
                                                type="submit">S'inscrire</button>
                            {{ form_end(form)}}

                            <br/>
                                  
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            <div class="mt-4 text-center  text-white">
                            <p style="text-align:center;">Avez-vous un compte ? Si oui, <a href="/login" class="fw-bold text-white "><span style="font-weight:bold;">Se connecter </span></a> </p>
                           
            </div>


        </div>
        <!-- End Log In page -->
    </div>

    <!-- JAVASCRIPT -->
    <script src="assetsAdmin/libs/jquery/jquery.min.js"></script>
    <script src="assetsAdmin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assetsAdmin/libs/metismenu/metisMenu.min.js"></script>
    <script src="assetsAdmin/libs/simplebar/simplebar.min.js"></script>
    <script src="assetsAdmin/libs/node-waves/waves.min.js"></script>

    <script src="assetsAdmin/js/app.js"></script>
    <script >
            $('#select_box').change(function () {
             var select=$(this).find(':selected').val();        
             $(".hide").hide();
            $('#' + select).show();
            }).change();
    </script>

    <script >
    $(document).ready(function() {
  //-------------------------------SELECT CASCADING-------------------------//
  var selectedCountry = (selectedRegion = selectedCity = "");
  // This is a demo API key for testing purposes. You should rather request your API key (free) from http://battuta.medunes.net/
  var BATTUTA_KEY = "00000000000000000000000000000000";
  // Populate country select box from battuta API
  url =
    "https://battuta.medunes.net/api/country/all/?key=" +
    BATTUTA_KEY +
    "&callback=?";

  // EXTRACT JSON DATA.
  $.getJSON(url, function(data) {
    console.log(data);
    $.each(data, function(index, value) {
      // APPEND OR INSERT DATA TO SELECT ELEMENT.
      $("#country").append(
        '<option value="' + value.code + '">' + value.name + "</option>"
      );
    });
  });
  // Country selected --> update region list .
  $("#country").change(function() {
    selectedCountry = this.options[this.selectedIndex].text;
    countryCode = $("#country").val();
  
    });
    });
    </script>

    <script>
        let passwordInput = document.getElementById('txtPassword'),
        toggle = document.getElementById('btnToggle'),
          icon =  document.getElementById('eyeIcon');

      function togglePassword() {
       if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
       icon.classList.add("fa-eye-slash");
       //toggle.innerHTML = 'hide';
        } else {
        passwordInput.type = 'password';
        icon.classList.remove("fa-eye-slash");
        //toggle.innerHTML = 'show';
         }
         }

       function checkInput() {
       //if (passwordInput.value === '') {
         //toggle.style.display = 'none';
         //toggle.innerHTML = 'show';
          //  passwordInput.type = 'password';
         //} else {
         //  toggle.style.display = 'block';
         //}
          }

          toggle.addEventListener('click', togglePassword, false);
          passwordInput.addEventListener('keyup', checkInput, false);
    </script>

</body>


</html>



