{% extends 'base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block body %}
<style>
 .ajout{
    background:linear-gradient(to bottom right,#18DB32,#0360FF );
  color:  #fff;
   border-radius: 9px;
   margin-top:10px;
   }
   .ajout:hover{
 
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom right,#18DB32,#0360FF ) 1;
  
  font-size: 13px; 
  font-weight: 500;
}
   .card{
     box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.4);
   }
   .button-1 {
  background-color: transparent;
  border: 3px solid  #0360FF;
  
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #0360FF;
}
.button-1:hover {
 background-color:#0360FF;
   color: white;
   box-shadow: 0 0 10px 0  #0360FF inset, 0 0 3px 2px #0360FF;
 
}
 .button-2:hover {
  background-color: transparent;
  border: 3px solid  #0360FF;
  
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color:  #0360FF;
  box-shadow: 0 0 10px 0  #0360FF inset, 0 0 3px 2px  #0360FF;
}
.button-2 {
 background-color: #0360FF;
   color: white;
}
.img{
   box-shadow: 0 0 10px 0  #0360FF inset, 0 0 5px 2px  #0360FF;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
     border-radius: 9px;

</style>
                <div class="row">
                      
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                    <div class="container">
                                    
                                              
               <div class="main-banner"  id="women">
        <div class="container">
                   <div class="row">
           
             
                     {% for user2 in investisseur %}  
                    
                       <div class="col-lg-6  card">
                            <br> 
                              {% set id=user2.id%}
                                             <div class="container">
                                             <center>  <img class="rounded-circle" width="70px" src="/admin/assetsAdmin/images/admin.png">
                                                           <br><br><br>
                                                           <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Nom Complet : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.utilisateur.username}} <h5>
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Email : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.utilisateur.email}} <h5>
                                                                 </div>
                                                            </div>
                                                             <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Rôle : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>Investisseur <h5>
                                                                 </div>
                                                            </div>
                                                            
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Num Téléphone : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.utilisateur.tel}} <h5>
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Adresse : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.utilisateur.adresse}}</ <h5>
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Nom Entreprise : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.nomEntreprise}}</ <h5>
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Pays : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.pays}}</ <h5>
                                                                 </div>
                                                            </div> 
                                                              <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Date Inscription : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.utilisateur.dateInscription}}</ <h5>
                                                                 </div>
                                                            </div>
                                                            
                                                            </div><br>
                                                             
		                           
                        </div>{% endfor %}
                         {% for offre in offre %}  
                     {% set id1=offre.id%}
                    <div class="col-lg-6">
                            <div class="right-content">
                     
                                <div class="right-first-image">
                                   
                                    <div class="thumb">
                                        <div class="inner-content" >
                                            <h4 style="font-weight:bold;font-size:30px;" >{{ offre.titre}}</h4>
                                            {% for ministere in ministere %} 
                                              {% if ministere.utilisateur.id==offre.user.id %}  
                                              <span style="font-weight:bold;font-size:18px;">{{ministere.type.titre}}</span> {% endif %}  {% endfor %}  
                                             {% if offre.user.role=="ROLE_ADMIN" %}  
                                              <span style="font-weight:bold;font-size:18px;">Administrateur</span> {% endif %} 
                                            <br> <span style="font-weight:bold;font-size:18px;">Lieu : {{offre.lieu.ville}} ({{offre.lieu.region}} {{offre.lieu.adresse}})</span>
                                         <br> <span style="font-weight:bold;font-size:18px;">Date Ajout : {{offre.dateAjout}}</span>
                                               <br> <span style="font-weight:bold;font-size:18px;">Date Expiration : {{offre.dateExpiration}}</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                             
                                                <p>Description : {{offre.description}}.</p>
                                                  <p> Budget : {{offre.budget}} TND</p>
                                                    <p>Délai : {{offre.delai}} ans</p>
                                                      <p>Papiers : {{offre.papiers}}.</p>
                                               
                                            </div>
                                        </div>
                                        <img src="/uploads/{{offre.image}}"  height="450px" alt="" class="img" >
                                       
                                    </div>
                                      
                                </div>
                               
                            </div>
                             
                        </div>{% endfor %}
                      <div>
                                            <a id="myBtn" href="{{ path('app_ouvreDiscussion', {'id': investir[0].id})}}" class="btn btn-primary mt-2 ajout" style="margin-left:400px; padding-left:30px;padding-right:30px;font-size:15px;"
                                                > <i class="dripicons-message"></i> Ouvrir Discussion</a>
                                        </div>
                    </div>
                </div>
                
            </div>
        </div>
       
          
    </div>

                                               
           
                                                   
                                        <!-- end table-responsive -->
                                    </div>
                                    
                                </div>
                            </div>
                            
                         </div>
                          <div class="mt-1 text-center  style="color:blue;">
                                       <p style="text-align:center;"> <a href="/discussion" class="fw-bold  "> <span style="font-weight:bold;"> <i class="dripicons-reply" style="font-size:17px;"></i> Liste des demandes </span></a> </p>
                           
                                    </div> 
 

                        
 {% endblock %}




