<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
         <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
         
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}" type="text/css" >

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-awesome.css') }}" type="text/css" >

    <link rel="stylesheet" href="{{ asset('assets/css/templatemo-hexashop.css') }}" type="text/css" >

    <link rel="stylesheet" href="{{ asset('assets/css/owl-carousel.css') }}" type="text/css" >

    <link rel="stylesheet" href="{{ asset('assets/css/lightbox.css') }}" type="text/css" >
    
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
     <style>
.btn:hover{
background:linear-gradient(to bottom right,#18DB32,#0360FF );
  color:  #fff;
}
.btn{
  color:#0360FF;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom right,#18DB32,#0360FF ) 1;
  padding: 8px 22px;
  font-size: 15px; 
  font-weight: 500;
}

.contactus {
 margin-top: 90px;
}

.contactus .section-heading {
  margin-bottom: 40px;
}



.contactus form input {
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding: 0px 15px;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #aaa;
  border-radius: 0px;
  border: 1px solid #7a7a7a;
  box-shadow: none;
}

.contactus form input::focus {
  border-color: #2a2a2a;
  border-radius: 0px;
}

.contactus form textarea {
  width: 100%;
  height: 140px;
  min-height: 120px;
  max-height: 200px;
  margin-top: 30px;
  margin-bottom: 25px;
  line-height: 44px;
  padding: 0px 15px;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #aaa;
  border-radius: 0px;
  border: 1px solid #7a7a7a;
  box-shadow: none;
}

.contactus form textarea::focus {
  border-color: #2a2a2a;
  border-radius: 0px;
}

.contactus form button {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-image: linear-gradient(to bottom right,#18DB32,#0360FF ) 1;
  color: #0360FF;
  
}

 
.contactus form button:hover {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  background: linear-gradient(to bottom right,#18DB32,#0360FF );
  box-shadow: none;
  border: 1px solid transparent;
  color: #fff;
}

.main-banner .left-content .inner-content h4 {
  text-align:center;
}
</style>
      <!-- ***** Preloader Start ***** -->
     
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            <img src="assets/images/logo1.png" width="160px">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section" ><a href="#top" style="color: #0360FF" class="active" >Home</a></li>
                            <li class="scroll-to-section"><a href="#explore" style="color: #0360FF">About us</a></li>
                            <li class="scroll-to-section" ><a href="#men"  style="color: #0360FF">Offres</a></li>
                            <li class="scroll-to-section"><a href="#women" style="color: #0360FF">Nouvelles</a></li>
                            <li class="scroll-to-section"><a href="#contact" style="color: #0360FF">Contact us</a></li>
                            <li class="scroll-to-section"><input type="button"  class="btn btn" onclick="location.href='/login';" value="Se connecter" ></li>
                      
                        </ul>  

                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>

                       
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                            
                                <h4>Bienvenue sur notre site internet</h4>
                               
                            </div>
                            <img src="assets/images/products-page-heading.jpg" alt="" height="450px" width="1000px">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

 <!-- ***** about us Starts ***** -->
    <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <h2>About Us</h2>
                        <span>You are allowed to use this HexaShop HTML CSS template. You can feel free to modify or edit this layout. You can convert this template as any kind of ecommerce CMS theme as you wish.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>You are not allowed to redistribute this template ZIP file on any other website.</p>
                        </div>
                        <p>There are 5 pages included in this HexaShop Template and we are providing it to you for absolutely free of charge at our TemplateMo website. There are web development costs for us.</p>
                        <p>If this template is beneficial for your website or business, please kindly <a rel="nofollow" href="https://paypal.me/templatemo" target="_blank">support us</a> a little via PayPal. Please also tell your friends about our great website. Thank you.</p>
                       
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="leather">
                                    <h4>Leather Bags</h4>
                                    <span>Latest Collection</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="first-image">
                                    <img src="assets/images/explore-image-01.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="second-image">
                                    <img src="assets/images/explore-image-02.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="types">
                                    <h4>Different Types</h4>
                                    <span>Over 304 Products</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- *****  about us Ends ***** -->
    <!-- ***** offres Starts ***** -->
  
    <div class="main-banner"  id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                              <h2>Les offres</h2>
                              <span>Pour plus de détails appuyer sur le boutton ci-dessous</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                 <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            <div class="right-content">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Women</h4>
                                            <span>Best Clothes For Women</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Women</h4>
                                                <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                                <div class="main-border-button">
                                                    <a href="#">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/images/baner-right-image-01.jpg"  height="395px" alt="">
                                    </div>
                                </div>
                            </div>
                             <div class="right-content">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Women</h4>
                                            <span>Best Clothes For Women</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Women</h4>
                                                <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                                <div class="main-border-button">
                                                    <a href="#">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/images/baner-right-image-01.jpg"  height="395px" alt="">
                                    </div>
                                </div>
                            </div>
                             <div class="right-content">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Women</h4>
                                            <span>Best Clothes For Women</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Women</h4>
                                                <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                                <div class="main-border-button">
                                                    <a href="#">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/images/baner-right-image-01.jpg"  height="395px" alt="">
                                    </div>
                                </div>
                            </div> <div class="right-content">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Women</h4>
                                            <span>Best Clothes For Women</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Women</h4>
                                                <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                                <div class="main-border-button">
                                                    <a href="#">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/images/baner-right-image-01.jpg"  height="395px" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-border">
                            <center> <div class="main-button">
                                           <a href="#">Plus d'offres</a>
                                     </div>
                            </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
  
    <!-- ***** offres Ends ***** -->

    <!-- ***** nouvelles Starts ***** -->
    <div class="main-banner"  id="women">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Les nouvelles</h2>
                        <span>Pour plus de détails appuyer sur le boutton ci-dessous</span>
                    </div>
                </div>
            </div>
        </div>
         <div class="container">
            <div class="row">
                 <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            <div class="right-content">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Women</h4>
                                            <span>Best Clothes For Women</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Women</h4>
                                                <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                                <div class="main-border-button">
                                                    <a href="#">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/images/baner-right-image-01.jpg"  height="395px" alt="">
                                    </div>
                                </div>
                            </div>
                             <div class="right-content">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Women</h4>
                                            <span>Best Clothes For Women</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Women</h4>
                                                <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                                <div class="main-border-button">
                                                    <a href="#">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/images/baner-right-image-01.jpg"  height="395px" alt="">
                                    </div>
                                </div>
                            </div>
                             <div class="right-content">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Women</h4>
                                            <span>Best Clothes For Women</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Women</h4>
                                                <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                                <div class="main-border-button">
                                                    <a href="#">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/images/baner-right-image-01.jpg"  height="395px" alt="">
                                    </div>
                                </div>
                            </div> <div class="right-content">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Women</h4>
                                            <span>Best Clothes For Women</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Women</h4>
                                                <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                                <div class="main-border-button">
                                                    <a href="#">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/images/baner-right-image-01.jpg"  height="395px" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-border">
                            <center> <div class="main-button">
                                           <a href="#">Plus de nouvelles</a>
                                     </div>
                            </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** nouvelles Ends ***** -->

    <!-- ***** Contact Starts ***** -->
    <div class="contactus" id="contact">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2>Envoyez nous un message</h2>
                       
                    </div>
                    <form id="contact" action="" method="post">
                        <div class="row">
                          <div class="col-lg-6">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="votre nom Complet" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-6">
                            <fieldset>
                              <input name="email" type="text" id="email" placeholder="votre email" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <textarea name="message" rows="6" id="message" placeholder="votre message" required=""></textarea>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" id="form-submit" ><i class="fa fa-paper-plane"></i></button>
                          </div>
                        </div>
                      </form>
                </div>
               
                <div class="col-lg-4 subscribe">
                    <div class="row">
                        <div class="col-8">
                            <ul>
                                <li>Adresse:<br><span>14 Rue de Manouba, Tunis 1006</span></li>
                                <li>Email:<br><span>Investir@company.com</span></li>
                                <li>Téléphone:<br><span>(+216) 71 096 814</span></li>
                              
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
       </div>
    </div>
        
  
      
    <!-- ***** Contact Area Ends ***** -->
   
   

    
    <!-- ***** Footer Start ***** -->
   <br/><br/> <br/><br/> <br/><br/><br/>
    <footer style="background-color:#153670;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="assets/images/logo1.1.png" width="170px">
                        </div>
                        <ul>
                            <li><a href="#">14 Rue de Manouba, Tunis 1006</a></li>
                            <li><a href="#">Investir@company.com</a></li>
                            <li><a href="#">(+216) 71 096 814</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Liens Utiles</h4>
                    <ul>
                        <li><a href="#top">Home</a></li>
                        <li><a href="#men">Offres</a></li>
                        <li><a href="#women">Nouvelles</a></li>
                       
                    </ul>
                </div>
                 <div class="col-lg-3">
                    <h4>Mon compte</h4>
                    <ul>
                        <li><a href="#">S'inscrire</a></li>
                        <li><a href="/login">Se connecter</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Aide & Contact</h4>
                    <ul>
                      
                        <li><a href="#explore">About Us</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </div>
               
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyrights © 2022 Investir - Tous les droits sont réservés 
                        
                      
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/slick.js"></script> 
    <script src="assets/js/lightbox.js"></script> 
    <script src="assets/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>
    </body>
</html>
