{% extends 'base.html.twig' %}

{% block title %}Mes Demandes Acceptées{% endblock %}

{% block body %}
<style>
 .ajout{
    background:linear-gradient(to bottom right,#18DB32,#0360FF );
  color:  #fff;
   border-radius: 9px;
   margin-top:10px;
   }
   .ajout:hover{
 
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom right,#18DB32,#0360FF ) 1;
  
  font-size: 13px; 
  font-weight: 500;
}
   .card{
     box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.4);
   }
   .button-1 {
  background-color: transparent;
  border: 3px solid  #0360FF;
  
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #0360FF;
}
.button-1:hover {
 background-color:#0360FF;
   color: white;
   box-shadow: 0 0 10px 0  #0360FF inset, 0 0 3px 2px #0360FF;
 
}
 .button-2:hover {
  background-color: transparent;
  border: 3px solid  #0360FF;
  
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color:  #0360FF;
  box-shadow: 0 0 10px 0  #0360FF inset, 0 0 3px 2px  #0360FF;
}
.button-2 {
 background-color: #0360FF;
   color: white;
}
.img{
   box-shadow: 0 0 10px 0  #0360FF inset, 0 0 5px 2px  #0360FF;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
     border-radius: 9px;

</style>
                <div class="row">
                      
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                    <div class="container">
                                    
                                        <div style="margin-left:23px">
                                          <a href="{{ path('app_offreInv') }}" class="btn  button-2 ">Tous les offres </a>
                                          <a href="{{ path('demande_Acceptée') }}" class="btn button-1 ">Mes demandes acceptées <span style="background-color:red; color:white;border-radius:12px;padding:0px 4.5px;">{{nb}}</span></a>
                                         <a href="{{ path('demande_NonAcceptée') }}" class="btn button-2 ">Mes demandes non acceptées </a>
                                        
                                        
                                          
                                        </div>
                                              
               <div class="main-banner"  id="women">
         {% if nb==1 %} 
                  <div class="container">
            <div class="row">
             <div class="col-lg-4">
             </div>
                 <div class="col-lg-4">
                     
                          
                                   {% for offre in offre %}  
                                  
                            <div class="right-content">
                     
                                <div class="right-first-image">
                                   
                                    <div class="thumb">
                                        <div class="inner-content" >
                                            <h4 style="font-weight:bold;font-size:30px;" >{{offre.offre.titre}}</h4>
                                             {% for ministere in ministere %} 
                                              {% if ministere.utilisateur.id==offre.offre.user.id %}  
                                              <span style="font-weight:bold;font-size:18px;">{{ministere.type.titre}}</span> {% endif %}  {% endfor %} 
                                              {% if offre.offre.user.role=="ROLE_ADMIN" %}  
                                              <span style="font-weight:bold;font-size:18px;">Administrateur</span> {% endif %} 
                                            <br> <span style="font-weight:bold;font-size:18px;">Lieu : {{offre.offre.lieu.ville}} ({{offre.offre.lieu.region}} {{offre.offre.lieu.adresse}})</span>
                                            {% if app.user.role=="ROLE_ADMIN"%} <br> <span style="font-weight:bold;font-size:18px;">Ministére : {{offre.offre.user.email}}</span> {% endif %}
                                            <br> <span style="font-weight:bold;font-size:18px;">Date Ajout : {{offre.offre.dateAjout}}</span>
                                               <br> <span style="font-weight:bold;font-size:18px;">Date Expiration : {{offre.offre.dateExpiration}}</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                             
                                                <p>Description : {{offre.offre.description}}.</p>
                                                  <p> Budget : {{offre.offre.budget}} TND</p>
                                                    <p>Délai : {{offre.offre.delai}} ans</p>
                                                      <p>Papiers : {{offre.papiers}}.</p>
                                                 <div class="">
                                              
                                                   <a  href="{{ path('app_message', {'id': offre.offre.id})}}" class="btn btn-outline-success btn-sm edit" title="Ouvre Discussion">
                                                                    <i class="dripicons-message"></i>
                                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="uploads/{{offre.offre.image}}"  height="350px" alt="" class="img"  >
                                    </div>
                                      
                                </div>
                               
                            </div>
                             
                              {% endfor %}  
                               </div>
                    </div>
                </div>
            </div>
        </div>
          {% elseif nb==2 %} 
                <div class="container">
                   <div class="row">
           
                    <div class="col-lg-2">  </div >
                     {% for offre in offre %}  
                     
                
                         <div class="col-lg-4">
                            <div class="right-content">
                     
                                <div class="right-first-image">
                                   
                                    <div class="thumb">
                                        <div class="inner-content" >
                                            <h4 style="font-weight:bold;font-size:30px;" >{{ offre.offre.titre}}</h4>
                                            {% for ministere in ministere %} 
                                              {% if ministere.utilisateur.id==offre.offre.user.id %}  
                                              <span style="font-weight:bold;font-size:18px;">{{ministere.type.titre}}</span> {% endif %}  {% endfor %}  
                                                {% if offre.offre.user.role=="ROLE_ADMIN" %}  
                                              <span style="font-weight:bold;font-size:18px;">Administrateur</span> {% endif %} 
                                            <br> <span style="font-weight:bold;font-size:18px;">Lieu : {{offre.offre.lieu.ville}} ({{offre.offre.lieu.region}} {{offre.offre.lieu.adresse}})</span>
                                         <br> <span style="font-weight:bold;font-size:18px;">Date Ajout : {{offre.offre.dateAjout}}</span>
                                               <br> <span style="font-weight:bold;font-size:18px;">Date Expiration : {{offre.offre.dateExpiration}}</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                             
                                                <p>Description : {{offre.offre.description}}.</p>
                                                  <p> Budget : {{offre.offre.budget}} TND</p>
                                                    <p>Délai : {{offre.offre.delai}} ans</p>
                                                      <p>Papiers : {{offre.papiers}}.</p>
                                                <div class="">
                                              
                                                   <a  href="{{ path('app_message', {'id': offre.offre.id})}}" class="btn btn-outline-success btn-sm edit" title="Ouvre Discussion">
                                                                    <i class="dripicons-message"></i>
                                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="uploads/{{offre.offre.image}}"  height="350px" alt="" class="img" >
                                    </div>
                                      
                                </div>
                               
                            </div>
                             
                        </div>{% endfor %}
                         
                    </div>
                </div>
            </div>
        </div>
       
           
           {% else %} 
        <div class="container">
            <div class="row">
                 <div class="col-lg-12">
                      <div class="owl-men-item owl-carousel" >
                          
                                   {% for offre in offre %}  
                                    
                            <div class="right-content">
                     
                                <div class="right-first-image">
                                   
                                    <div class="thumb">
                                        <div class="inner-content" >
                                            <h4 style="font-weight:bold;font-size:30px;" >{{offre.offre.titre}}</h4>
                                            {% for ministere in ministere %} 
                                              {% if ministere.utilisateur.id==offre.offre.user.id %}  
                                              <span style="font-weight:bold;font-size:18px;">{{ministere.type.titre}}</span> {% endif %}  {% endfor %}  
                                                {% if offre.offre.user.role=="ROLE_ADMIN" %}  
                                              <span style="font-weight:bold;font-size:18px;">Administrateur</span> {% endif %} 
                                             <br><span style="font-weight:bold;font-size:18px;">Lieu : {{offre.offre.lieu.ville}} ({{offre.offre.lieu.region}} {{offre.offre.lieu.adresse}})</span>
                                          <br> <span style="font-weight:bold;font-size:18px;">Date Ajout : {{offre.offre.dateAjout}}</span>
                                               <br> <span style="font-weight:bold;font-size:18px;">Date Expiration : {{offre.offre.dateExpiration}}</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                             
                                                <p>Description : {{offre.offre.description}}.</p>
                                                  <p> Budget : {{offre.offre.budget}} TND</p>
                                                    <p>Délai : {{offre.offre.delai}} ans</p>
                                                      <p>Papiers : {{offre.papiers}}.</p>
                                               <div class="">
                                              
                                                   <a  href="{{ path('app_message', {'id': offre.offre.id})}}" class="btn btn-outline-success btn-sm edit" title="Ouvre Discussion">
                                                                    <i class="dripicons-message"></i>
                                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="uploads/{{offre.offre.image}}"  height="350px" alt="" class="img"  >
                                    </div>
                                      
                                </div>
                               
                            </div>
                             
                                         
                              {% endfor %}  
                               </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}    
    </div>

                                               
           
                                                   
                                        <!-- end table-responsive -->
                                    </div>
                                </div>
                            </div>
                         </div>
                       


                        
 {% endblock %}




