{% extends 'base.html.twig' %}

{% block title %}Mes Offres{% endblock %}

{% block body %}
<style>
 .ajout{
    background:linear-gradient(to bottom right,#18DB32,#0360FF );
  color:  #fff;
   border-radius: 9px;
   margin-top:10px;
   }
    .ajout:hover{
 
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom right,#18DB32,#0360FF ) 1;
  
  font-size: 13px; 
  font-weight: 500;
}
   .card{
     box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.4);
   }
    .button-2{
  background-color: transparent;
  border: 3px solid #0360FF;
  
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #0360FF;
  
}
.button-2:hover {
 background-color:#0360FF;
   color: white;
    box-shadow: 0 0 10px 0 #0360FF inset, 0 0 3px 2px #0360FF;
 
}
 .button-1:hover {
  background-color: transparent;
  border: 3px solid #0360FF;
  
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #0360FF;
   box-shadow: 0 0 10px 0 #0360FF inset, 0 0 3px 2px #0360FF;
}
.button-1 {
 background-color:#0360FF;
   color: white;
 
}
.img{
   box-shadow: 0 0 10px 0  #0360FF inset, 0 0 5px 2px  #0360FF;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
     border-radius: 9px;}
</style>
 <div class="row">
                      
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                    <div class="container">
                                     {% if app.user.role=="ROLE_MINISTERE"%}
                            <div class="col-sm-6 mb-3" style="margin-left:540px">
                                <div class="float-end d-none d-sm-block">
                                    <a href="{{ path('ajout_offre') }}" class="btn btn-success ajout" style="font-weight:500;">Ajouter Offre</a>
                                </div>
                               
                            </div>
                              {% endif %}
                                        <div style="margin-left:23px">
                                          <a href="{{ path('app_offre') }}" class="btn  button-1 ">Offres activés </a>
                                          <a href="{{ path('app_offre1') }}" class="btn button-2 ">Offres désactivés <span style="background-color:red; color:white;border-radius:12px;padding:0px 4.5px;">{{nb}}</span></a>
                                         
                                           <a href="{{ path('expire_offre') }}" class="btn button-1 ">Offres Expirés </a>
                                          
                                        </div>
                                              
               <div class="main-banner"  id="women">
                 {% if nb==1 %} 
                  <div class="container">
            <div class="row">
             <div class="col-lg-4">
             </div>
                 <div class="col-lg-4">
                     
                          
                                   {% for offre in offre %} 
                                    {% set   date = offre.dateExpiration|split('/')%}
                                        {% set   dd = date[0]%}
                                         {% set mm = date[1]%}
                                        {% set yyyy = date[2]%}
                                        {% set dateExp=yyyy ~'-' ~mm ~'-' ~dd%}
                                         {% if  dateExp >='now'|date('Y-m-d') %} 
                            <div class="right-content">
                     
                                <div class="right-first-image">
                                   
                                    <div class="thumb">
                                        <div class="inner-content" >
                                            <h4 style="font-weight:bold;font-size:30px;" >{{offre.titre}}</h4>
                                            <span style="font-weight:bold;font-size:18px;">{{offre.lieu.ville}} ({{offre.lieu.region}} {{offre.lieu.adresse}})</span>
                                             <br> <span style="font-weight:bold;font-size:18px;">Date Ajout : {{offre.dateAjout}}</span>
                                               <br> <span style="font-weight:bold;font-size:18px;">Date Expiration : {{offre.dateExpiration}}</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                             
                                                <p>Description : {{offre.description}}.</p>
                                                  <p> Budget : {{offre.budget}} TND</p>
                                                    <p>Délai : {{offre.delai}} ans</p>
                                                <div class="">
                                                    {% if app.user.role=="ROLE_MINISTERE"%}
                                                    <a  href="{{ path('offre_edit',{'id': offre.id}) }}" class="btn btn-outline-warning btn-sm edit" title="Modifier">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                     </a>
                                                     {% endif %}
                                                     {% if app.user.role=="ROLE_ADMIN"%}
                                                     <a  href="{{ path('activation',{'id': offre.id}) }}" class="btn btn-outline-warning btn-sm " title="Désactiver">
                                                                    <i class="dripicons-lock-open"></i>
                                                     </a>
                                                     {% endif %}
                                                      <a href="" class="btn btn-outline-primary btn-sm edit" title="Show">
                                                                    <i style=" font-weight:bold;" class="dripicons-preview"></i>
                                                       </a>
                                                       <a href="{{ path('offre_delete',{'id': offre.id}) }}" class="btn btn-outline-danger btn-sm edit" title="Supprimer">
                                                                    <i style=" font-weight:bold;" class="dripicons-trash"></i>
                                                                </a>
                                                       
                                                </div>
                                            </div>
                                        </div>
                                        <img src="uploads/{{offre.image}}"  height="350px" alt="" class="img"  >
                                    </div>
                                      
                                </div>
                               
                            </div>
                             {% endif %} 
                              {% endfor %}  
                               </div>
                    </div>
                </div>
            </div>
        </div>
          {% elseif nb==2 %} 
                <div class="container">
                   <div class="row">
           
                    <div class="col-lg-2">  </div >
                      {% for offre in offre %}  
                                   {% set   date = offre.dateExpiration|split('/')%}
                                        {% set   dd = date[0]%}
                                         {% set mm = date[1]%}
                                        {% set yyyy = date[2]%}
                                        {% set dateExp=yyyy ~'-' ~mm ~'-' ~dd%}
                                         {% if  dateExp >='now'|date('Y-m-d') %}
                         <div class="col-lg-4">
                            <div class="right-content">
                     
                                <div class="right-first-image">
                                   
                                    <div class="thumb">
                                        <div class="inner-content" >
                                            <h4 style="font-weight:bold;font-size:30px;" >{{ offre.titre}}</h4>
                                            <span style="font-weight:bold;font-size:18px;">{{offre.lieu.ville}} ({{offre.lieu.region}} {{offre.lieu.adresse}})</span>
                                          <br> <span style="font-weight:bold;font-size:18px;">Date Ajout : {{offre.dateAjout}}</span>
                                              <br>  <span style="font-weight:bold;font-size:18px;">Date Expiration : {{offre.dateExpiration}}</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                             
                                                <p>Description : {{offre.description}}.</p>
                                                  <p> Budget : {{offre.budget}} TND</p>
                                                    <p>Délai : {{offre.delai}} ans</p>
                                                <div class="">
                                                    {% if app.user.role=="ROLE_MINISTERE"%}
                                                    <a  href="{{ path('offre_edit',{'id': offre.id}) }}" class="btn btn-outline-warning btn-sm edit" title="Modifier">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                     </a>
                                                     {% endif %}
                                                     {% if app.user.role=="ROLE_ADMIN"%}
                                                     <a  href="{{ path('activation',{'id': offre.id}) }}" class="btn btn-outline-warning btn-sm " title="Désactiver">
                                                                    <i class="dripicons-lock-open"></i>
                                                     </a>
                                                     {% endif %}
                                                      <a href="" class="btn btn-outline-primary btn-sm edit" title="Show">
                                                                    <i style=" font-weight:bold;" class="dripicons-preview"></i>
                                                       </a>
                                                       <a href="{{ path('offre_delete',{'id': offre.id}) }}" class="btn btn-outline-danger btn-sm edit" title="Supprimer">
                                                                    <i style=" font-weight:bold;" class="dripicons-trash"></i>
                                                                </a>
                                                       
                                                </div>
                                            </div>
                                        </div>
                                        <img src="uploads/{{offre.image}}"  height="350px" alt="" class="img"  >
                                    </div>
                                      
                                </div>
                               
                            </div>
                             
                        </div>{% endif %}{% endfor %}
                         
                    

                 
                    </div>
                </div>
            </div>
        </div>
       
      
           {% else %} 
        <div class="container">
            <div class="row">
                 <div class="col-lg-12">
                      <div class="owl-men-item owl-carousel" >
                          
                                   {% for offre in offre %}  
                                   {% set   date = offre.dateExpiration|split('/')%}
                                        {% set   dd = date[0]%}
                                         {% set mm = date[1]%}
                                        {% set yyyy = date[2]%}
                                        {% set dateExp=yyyy ~'-' ~mm ~'-' ~dd%}
                                         {% if  dateExp >='now'|date('Y-m-d') %}
                            <div class="right-content">
                     
                                <div class="right-first-image">
                                   
                                    <div class="thumb">
                                        <div class="inner-content" >
                                            <h4 style="font-weight:bold;font-size:30px;" >{{offre.titre}}</h4>
                                            <span style="font-weight:bold;font-size:18px;">{{offre.lieu.ville}} ({{offre.lieu.region}} {{offre.lieu.adresse}})</span>
                                          <br> <span style="font-weight:bold;font-size:18px;">Date Ajout : {{offre.dateAjout}}</span>
                                                <br><span style="font-weight:bold;font-size:18px;">Date Expiration : {{offre.dateExpiration}}</span>
                                         </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                             
                                                <p>Description : {{offre.description}}.</p>
                                                  <p> Budget : {{offre.budget}} TND</p>
                                                    <p>Délai : {{offre.delai}} ans</p>
                                                <div class="">
                                                     {% if app.user.role=="ROLE_MINISTERE"%}
                                                    <a  href="{{ path('offre_edit',{'id': offre.id}) }}" class="btn btn-outline-warning btn-sm edit" title="Modifier">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                     </a>
                                                     {% endif %}
                                                     {% if app.user.role=="ROLE_ADMIN"%}
                                                     <a  href="{{ path('activation',{'id': offre.id}) }}" class="btn btn-outline-warning btn-sm " title="Désactiver">
                                                                    <i class="dripicons-lock-open"></i>
                                                     </a>
                                                     {% endif %}
                                                      <a href="" class="btn btn-outline-primary btn-sm edit" title="Show">
                                                                    <i style=" font-weight:bold;" class="dripicons-preview"></i>
                                                       </a>
                                                       <a href="{{ path('offre_delete',{'id': offre.id}) }}" class="btn btn-outline-danger btn-sm edit" title="Supprimer">
                                                                    <i style=" font-weight:bold;" class="dripicons-trash"></i>
                                                                </a>
                                                       
                                                </div>
                                            </div>
                                        </div>
                                        <img src="uploads/{{offre.image}}"  height="350px" alt="" class="img" >
                                    </div>
                                      
                                </div>
                               
                            </div>
                               {% endif %}  
                              {% endfor %}  
                               </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}    
    </div>

                                               
                                            
                                        <!-- end table-responsive -->
                                    </div>
                                </div>
                            </div>
                         </div>
                       


                        
 {% endblock %}






