{% extends 'base.html.twig' %}

{% block title %}Activer compte!{% endblock %}

{% block body %}
<style>

   .card{
     box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.4);
   }
</style>

                        <div class="row mt-5">

                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 style="color:blue;" class="header-title mb-4">Activation comptes des utilisateurs : {{nb}}</h4>
                                        <div class="table-responsive">
                                            <table class="table table-centered table-nowrap mb-0">
                                                <thead class="thead-light">
                                                    <tr>
                                                       
                                                        <th>Nom Complet</th>
                                                        <th>Email</th>
                                                        <th>Rôle</th>
                                                        <th>Date inscription</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                 {% for user in user %}
                                                    <tr>
                                                        <td>{{user.username}}</td>
                                                        <td>{{user.email}}</td>
                                                        <td>{{user.role}}</td>
                                                        <td>{{user.dateInscription}}</td>
                                                       
                                                        <td> <a  href="{{ path('activation', {'id': user.id}) }}" class="btn btn-outline-success btn-sm edit" title="Activer">
                                                                    <i class="dripicons-lock-open"></i>
                                                                </a>
                                                        </td>
                                                        <td> <a href="{{ path('find', {'id': user.id})}}" class="btn btn-outline-primary btn-sm edit" title="Show">
                                                                    <i style=" font-weight:bold;" class="dripicons-preview"></i>
                                                                </a>
                                                        </td>
                                                       
                                                    </tr>
                                                  
                                                     {% endfor %}
               

                                                </tbody>
                                            </table>
                                           
                                        </div>
                                            
                                        <!-- end table-responsive -->
                                    </div>
                                </div>
                            </div>
                         </div>


                        
 {% endblock %}



