{% extends 'base.html.twig' %}

{% block title %}Activer compte!{% endblock %}

{% block body %}
<style>
.overlay {
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 250px;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: blue;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

</style>

                        <div class="row">

                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 style="color:blue;" class="header-title mb-4">Activation comptes des utilisateurs :</h4>
                                        <div class="table-responsive">
                                            <table class="table table-centered table-nowrap mb-0">
                                                <thead class="thead-light">
                                                    <tr>
                                                       
                                                        <th>Nom Complet</th>
                                                        <th>Email</th>
                                                        <th>Rôle</th>
                                                        <th>Date inscription</th>

                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                 {% for user in user %}
                                                    <tr>
                                                        <td>{{user.username}}</td>
                                                        <td>{{user.email}}</td>
                                                        <td>{{user.role}}</td>
                                                        <td>{{user.dateInscription}}</td>
                                                        <td> <a  href="{{ path('activation', {'id': user.id}) }}"  class="btn btn-outline-success btn-sm edit" title="Activer">
                                                                    <i class="dripicons-checkmark"></i>
                                                                </a>
                                                        </td>
                                                        <td> <a href="{{ path('find', {'id': user.id})}}" class="btn btn-outline-primary btn-sm edit" title="Show">
                                                                    <i style=" font-weight:bold;" class="dripicons-preview"></i>
                                                                </a>
                                                        </td>
                                                    </tr>
                                                   
                                                     {% endfor %}
               

                                                </tbody>
                                            </table>
                                           
                                        </div>
                                            <div class="overlay">
	                                                <div class="popup">
                                                        {% if role=="ROLE_INVESTISSEUR" %}
                                                             {% for user2 in user2 %}
		                                                     <center>  <img class="rounded-circle" width="70px" src="/admin/assetsAdmin/images/admin.png">
                                                           <br><br><br>
                                                           <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Nom Complet : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.utilisateur.username}} <h5>
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Email : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.utilisateur.email}} <h5>
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Rôle : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>Investisseur <h5>
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Num Téléphone : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.utilisateur.tel}} <h5>
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Adresse : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.utilisateur.adresse}}</ <h5>
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Nom Entreprise : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.nomEntreprise}}</ <h5>
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Pays : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.pays}}</ <h5>
                                                                 </div>
                                                            </div>
                                                             
		                                                      <a class="close" href="{{ path('activer_compte')}}">&times;</a>
		                                                     
                                                              {% endfor %}
                                                        {% else %}
                                                           {% for user2 in user2 %}
                                                           <center>  <img class="rounded-circle" width="70px" src="/admin/assetsAdmin/images/admin.png">
                                                           <br><br><br>
                                                              <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Nom Complet : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.utilisateur.username}} <h5>
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Email : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.utilisateur.email}} <h5>
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Rôle : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>Ministére <h5>
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Num Téléphone : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.utilisateur.tel}} <h5>
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Adresse : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.utilisateur.adresse}}</ <h5>
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-lg-6">
                                                                  <h5>Type : </h5>
                                                                 </div>
                                                                  <div class="col-lg-6">
                                                                    <h5>{{user2.type.titre}}</ <h5>
                                                                 </div>
                                                            </div>
                                                            
		                                                       <a class="close" href="{{ path('activer_compte')}}">&times;</a>
		                                                      
                                                              {% endfor %}
                                                        {% endif %}
	                                                      </div>
                                                    </div> 
                                        <!-- end table-responsive -->
                                    </div>
                                </div>
                            </div>
                         </div>


                        
 {% endblock %}
